.maintop {
  background: #000000;
  padding: 10px 0px;
}
.customselectbox {
  float: left;
  width: 95px;
  margin-right: 10px;
}
.customselectbox .form-control {
  background: none;
  border: none;
}
.customselectbox .bootstrap-select .btn-light {
  padding: 4px;
  font-size: 14px;
  background: #b0b435;
  color: #fff;
  border: none;
  border-radius: 0px;
}
.customselectbox .bootstrap-select .btn-light span {
  padding: 2px;
  line-height: 15px;
}
.customselectbox .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 13px;
  right: 10px;
}
.rightphonebox {
  float: left;
  margin-right: 10px;
}
.rightphonebox p {
  margin: 0px;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
}
.rightphonebox p a {
  color: #ffffff;
}
.rightphonebox p a:hover {
  color: #b0b435;
}
.ourlink {
  float: left;
}
.ourlink ul li {
  display: inline-block;
  border-right: 1px solid #ffffff;
  padding: 0px 10px;
  line-height: 14px;
}
.ourlink ul {
  line-height: 30px;
}
.ourlink ul li a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
.ourlink ul li a:hover {
  color: #b0b435;
}
.ourlink ul li:last-child {
  border: none;
}
.loginbox {
  float: right;
  width: 120px;
  margin-left: 20px;
}

.loginbox .form-control {
  background: none;
  border: none;
}
.loginbox .bootstrap-select .btn-light {
  padding: 4px;
  font-size: 14px;
  background: #b0b435;
  color: #fff;
  border: none;
  border-radius: 0px;
}
.loginbox .bootstrap-select .btn-light span {
  padding: 2px;
  line-height: 15px;
}
.loginbox .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 13px;
  right: 10px;
}

.loginbox .dropdown-item {
  padding: 5px 10px;
}
